{% set public_ns = namespace(services=[]) %}
{% set _gateway_services = [] %}
{% if gateway_services_effective is defined and (gateway_services_effective | length) > 0 %}
{% set _gateway_services = gateway_services_effective %}
{% elif gateway_services is defined and (gateway_services | length) > 0 %}
{% set _gateway_services = gateway_services %}
{% endif %}
{% set _internal_routes = [] %}
{% if internal_service_routes_effective is defined and (internal_service_routes_effective | length) > 0 %}
{% set _internal_routes = internal_service_routes_effective %}
{% endif %}
{% if _gateway_services | length > 0 %}
{% for service in _gateway_services %}
{% set service_name = service.name | default('') | trim %}
{% set service_domain = service_name %}
{% if '.' not in service_name and (base_domain | default('') | trim) != '' %}
{% set service_domain = service_name ~ '.' ~ base_domain %}
{% endif %}
{% set service_upstream_ip = (hostvars[service.upstream_host].tailscale_ip | default('')) %}
{% set _ = public_ns.services.append({'domain': service_domain, 'upstream_host': service.upstream_host, 'upstream_port': service.upstream_port, 'upstream_ip': service_upstream_ip}) %}
{% endfor %}
{% elif gateway_domains | default([]) | length > 0 %}
{% set legacy_upstream_ip = (hostvars[gateway_upstream_host].tailscale_ip | default('')) %}
{% for domain in gateway_domains %}
{% set _ = public_ns.services.append({'domain': domain, 'upstream_host': gateway_upstream_host, 'upstream_port': gateway_upstream_port, 'upstream_ip': legacy_upstream_ip}) %}
{% endfor %}
{% endif %}
{% set monitoring_upstream_ip = (hostvars['monitoring-vm'].tailscale_ip | default('')) %}
{% set internal_namecheap_enabled = ((headscale_magic_dns_base_domain | default('') | trim) != '' and (internal_service_tls_mode | default('internal')) == 'namecheap') %}
{% set public_namecheap_enabled = ((public_service_tls_mode | default('letsencrypt')) == 'namecheap' and public_ns.services | length > 0) %}

{% if public_ns.services | length > 0 and not public_namecheap_enabled %}
{% for service in public_ns.services %}
{{ service.domain }} {
  {% if service.upstream_ip | trim != '' %}
  reverse_proxy http://{{ service.upstream_ip }}:{{ service.upstream_port }}
  {% else %}
  respond "upstream {{ service.upstream_host }} has no tailscale_ip yet" 502
  {% endif %}
}
{% endfor %}
{% endif %}

{% if public_namecheap_enabled %}
*.{{ base_domain }} {
  {% if admin_email | default('') | trim != '' %}
  tls {{ admin_email }} {
  {% else %}
  tls {
  {% endif %}
    dns namecheap {
      api_key {env.NAMECHEAP_API_KEY}
      user {env.NAMECHEAP_API_USER}
      api_endpoint https://api.namecheap.com/xml.response
      client_ip {{ gateway_namecheap_client_ip_effective }}
    }
    resolvers {{ (internal_service_tls_namecheap_resolvers | default([])) | join(' ') }}
    propagation_delay {{ internal_service_tls_namecheap_propagation_delay | default('2m') }}
    propagation_timeout {{ internal_service_tls_namecheap_propagation_timeout | default('10m') }}
  }

  {% for service in public_ns.services %}
  @public_service_{{ loop.index }} host {{ service.domain }}
  handle @public_service_{{ loop.index }} {
    {% if service.upstream_ip | trim != '' %}
    reverse_proxy http://{{ service.upstream_ip }}:{{ service.upstream_port }}
    {% else %}
    respond "upstream {{ service.upstream_host }} has no tailscale_ip yet" 502
    {% endif %}
  }
  {% endfor %}

  handle {
    respond "unknown public service under {{ base_domain }}" 404
  }
}
{% endif %}

{% if internal_namecheap_enabled %}
*.{{ headscale_magic_dns_base_domain }} {
  bind {{ tailscale_ip }}

  {% if admin_email | default('') | trim != '' %}
  tls {{ admin_email }} {
  {% else %}
  tls {
  {% endif %}
    dns namecheap {
      api_key {env.NAMECHEAP_API_KEY}
      user {env.NAMECHEAP_API_USER}
      api_endpoint https://api.namecheap.com/xml.response
      client_ip {{ gateway_namecheap_client_ip_effective }}
    }
    resolvers {{ (internal_service_tls_namecheap_resolvers | default([])) | join(' ') }}
    propagation_delay {{ internal_service_tls_namecheap_propagation_delay | default('2m') }}
    propagation_timeout {{ internal_service_tls_namecheap_propagation_timeout | default('10m') }}
  }

  {% if _internal_routes | length > 0 %}
  {% for service in _internal_routes %}
  {% set _service_upstream_ip = (hostvars[service.upstream_host].tailscale_ip | default('')) %}
  @internal_service_{{ loop.index }} host {{ service.name }}.{{ headscale_magic_dns_base_domain }}
  handle @internal_service_{{ loop.index }} {
    {% if _service_upstream_ip | trim != '' %}
    reverse_proxy http://{{ _service_upstream_ip }}:{{ service.upstream_port }}
    {% else %}
    respond "upstream {{ service.upstream_host }} has no tailscale_ip yet" 502
    {% endif %}
  }
  {% endfor %}

  handle {
    respond "unknown internal service under {{ headscale_magic_dns_base_domain }}" 404
  }
  {% else %}
  respond "no internal service routes configured" 404
  {% endif %}
}
{% endif %}

{% if public_ns.services | length == 0 and not internal_namecheap_enabled %}
:80 {
  respond "gateway up (configure gateway services)" 200
}
{% endif %}
