apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://{{ tailscale_ip }}:9090
    isDefault: true
    basicAuth: true
    basicAuthUser: "{{ services_admin_username }}"
    secureJsonData:
      basicAuthPassword: "{{ services_admin_password }}"
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://{{ tailscale_ip }}:3100
    jsonData:
      maxLines: 1000
